<br />
<h2 class="text-primary text-center">Add category</h2>
<br />

<form method="post" style="margin: 0 20%" class="box">

    <div class="mb-3">
        <label for="Name" class="form-label">Enter the category name</label>
        <input type="text" class="form-control" id="Name" name="Name">
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>

</form>

<script type="text/javascript" src="~/js/ingredients/script.js"></script>