@model Ingredient

@{ 
    ViewData["Model"] = Model;
}

<br />
<h2 class="text-primary text-center">Изменение ингредиента</h2>
<br />

<form method="post" style="margin: 0 20%" asp-anti-forgery="true" class="box">

    <div class="mb-3">
        <label for="Name" class="form-label">Название ингредиента</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
    </div>

    <div class="mb-3 val">
        <label for="Weight" class="form-label">Вес ингредиента</label>
        <input type="text" class="form-control valid" id="Weight" name="Weight" value="@Model.Weight">
    </div>

    <input type="hidden" name="Id" value="@Model.Id"/>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Изменить</button>
    </div>

</form>

<script>

    jQuery.validator.addMethod(
        "regex",
        function (value, element, regexp) {
            if (regexp.constructor != RegExp)
                regexp = new RegExp(regexp);
            else if (regexp.global)
                regexp.lastIndex = 0;
            return this.optional(element) || regexp.test(value);
        }, "erreur expression reguliere"
    );

    $(".box").validate({
        rules: {
            Weight: {
                required: true,
                regex: "^[-+]?[0-9]*[,]?[0-9]+(?:[eE][-+]?[0-9]+)?$"
            }
        },
        messages: {
            Weight: {
                required: "Поле должно быть заполнено",
                regex: "Введите число"
            }
        }
    });

</script>