<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>


    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />


    <script type="text/javascript" src="~/lib/popper.js/umd/popper.min.js"></script>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>



    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/bsMultiselect/js/BsMultiSelect.min.js"></script>

    <script type="text/javascript" src="~/js/site.js"></script>

    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

</head>

<body>
    
    <header class="head">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark fixed-top border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-controller="Recipe" asp-action="GetAllRecipes">
                    Рецепты
                </a>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    @await Html.PartialAsync("_LoginPartial")

                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a asp-controller="Search" asp-action="Index" class="nav-link">Поиск</a>
                        </li>

                        @if (User.IsInRole(Role.Editor.ToString()) || User.IsInRole(Role.Admin.ToString()))
                        {
                            <li class="nav-item dropdown text-white-50">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Редактор</a>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Editor" asp-action="GetAllRecipes">Рецепты</a>
                                    <a class="dropdown-item" asp-controller="Category" asp-action="GetAll">Категории</a>
                                    <a class="dropdown-item" asp-controller="Ingredient" asp-action="GetAll">Ингредиенты</a>

                                </div>
                            </li>
                        }

                        @if (User.IsInRole(Role.Admin.ToString()))
                        {
                            <li class="nav-item">
                                <a asp-controller="Admin" asp-action="GetAll" class="nav-link">Пользователи</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>

</html>
