@model SelectCategoryModel


<select class="form-select form-select-sm" name="CategoryId" id="CategoryId">
    @foreach (var category in Model.Categories)
    {
        @if (category.Id == Model.SelectCategoryId)
        {
            <option value="@category.Id" selected>@category.Name</option>
        }
        else
        {
            <option value="@category.Id">@category.Name</option>
        }
    }
</select>