@model IEnumerable<User>

<div class="border backgroundWhite">

    <div class="row align-items-center">
        <div class="col-6">
            <h2 class="text-primary">Список пользователей</h2>
        </div>

        <div class="col-6">
            <div style="margin-left: 60%">
                <a class="btn btn-primary" asp-action="Create"> <i class="fas fa-plus"></i> &nbsp; Create New</a>
            </div>

        </div>
    </div>
    <br />

    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <table class="table table-striped border">

            <thead class="table-secondary">

                <tr>
                    <th>Почта</th>
                    <th>Пароль</th>
                    <th>Действия</th>
                </tr>

            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Email</td>
                    <td>@item.Password</td>

                    <td style="width: 150px">
                        <div class="btn btn-group" role="group">

                            <a class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>

                        </div>
                    </td>
                </tr>
                }



            </tbody>
        </table>
    </div>

</div>


