.error {
    color: red;
    font-size: 12px;
    font-style: italic;
}

.mainError {
    list-style-type: none;
    color: red;
    font-size: 16px;
    font-style: italic;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}