


.backgroundWhite {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin: 0 20% 30px 20%;
}

.recipeImage {
    border-radius: 5px;
    border: 1px solid #bbb9b9;
    width: 99%;
}

header{
    margin-bottom: 60px;
}

